body{
    height: 100vh;
    background: linear-gradient(to top,rgb(133 162 223 / 94%), rgb(215 229 236));
}

.update-box{
    border-radius: 10px;
    box-shadow: 15px 20px 5px rgba(0, 0, 0, 0.3);
}

.navbar li{
    font-size: 2rem;
    font-weight: bold;
    background-color: #fff;
    padding: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    border-bottom: 1.5px solid #ccc;
}

.navbar li.active{
    background: var(--background);
    color: #fff;
}

.navbar li:hover{
    background: var(--background);
    color: #fff;
}

.navbar li:first-child{
    border-top-left-radius: 10px;
}

.navbar li:last-child{
    border-top-right-radius: 10px;
}

.update-song__list{
    margin: 0 -20px 0 -20px;
}

.song__form{
    padding: 0 20px;
}

.form__validator{
    background: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100% ;
}

.song__form--add .header{
    background: linear-gradient(45deg, #14f02dbf, #42e457ed);
}


.song__form--delete .header{
    background: linear-gradient(45deg, #fd2d06, #dc520e);
}

.song__form--update .header {
    background: gray;
}

.header{
    padding: 24px 0;
    text-align: center;
    color: #fff;
}

.header h2{
    font-size: 2rem;
}

.header p{
    font-size: 1.7rem;
}

.form__body{
    padding: 24px 24px 8px 24px;
    height: 490px;
    overflow: auto;
}

.form__group{
    padding-bottom: 24px;
}

.form__body label{
    font-size: 1.6rem;
    font-weight: bold;
    position: relative;
}

.form__control{
    width: 100%;
    outline: none;
    height: 40px;
    padding-left: 12px;
    margin: 8px 0 0 0;
    border: 1px solid #878787;
}

input[type=radio],
input[type=checkbox]{
    display: none;
}

.gender__label,
.course__label{
    position: relative;
    margin-top: 24px;
    padding-left: 32px;
    padding-bottom: 12px;
    cursor: pointer;
}

.checkbox::after{
    position: absolute;
    display: block;
    content: "";
    height: 20px;
    background: #ccc;
    width: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.checkbox::before{
    position: absolute;
    z-index: 999;
    content: "";
    display: block;
    background: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 5.5px;
    left:6px;
    display: none;
}

input[type=file]{
    position: relative;
}

input[type=file]::-webkit-file-upload-button{
    display: none;
}

input[type=file]::before{
    height: 24px;
    display: inline-block;
    content: "";
}

input[type=file]::after{
    display: inline-block;
    position: absolute;
    left: 12px;
    content: "";
    width: 388px;
    height: 38px;
    padding-left: 12px;
    margin-left: -12px;
}

.choose__file{
    position: absolute;
    background: #ccc;
    border-radius: 5px;
    z-index: 99;
    font-size: 1.3rem;
    width: 50px;
    padding: 4px 0;
    text-align: center;
    left: 384%;
    top: 184%;
    cursor: pointer;
}

.choose__file:active{
    opacity: 0.7;
}

input[type=radio]:hover ~ .checkbox::after,
input[type=checkbox]:hover ~ .checkbox::after{
    background: #ddd;
}

input[type=radio]:checked ~ .checkbox::after,
input[type=checkbox]:checked ~ .checkbox::after{
   background: rgb(22, 100, 217);
}

input[type=radio]:checked ~ .checkbox::before,
input[type=checkbox]:checked ~ .checkbox::before{
   display: block;
}

.form__warning{
    display: none;
}

.form__group--invalid .form__warning{
    display: block;
    font-size: 1.4rem;
    color: rgb(255, 54, 54);
    font-weight: bold;
}

.form__group--invalid label{
    color: rgb(247, 44, 44);
}

.form__group--invalid .form__control{
    background: rgba(233, 98, 98, 0.5);
    border: 1px solid rgb(246, 81, 81);
    animation-duration: 0.2s;
    animation-timing-function: linear;
}

.form__group--invalid .form__control:hover{
    background: #fff;
    animation-name: formAnimate;
}

.form__group--invalid .choose__file{
    background: rgb(231 49 49);
    color: #f2d7d7;
}

@keyframes formAnimate{
    0%{
        background: rgba(233, 98, 98, 0.5);
    }

    100%{
        background: #fff;
    }
}

button,
.update-btn{
    position: absolute;
    top: -30%;
    right: 0;
    width: 100px;
    padding: 8px 0;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(45deg, #fd2d06, #dc520e);
    color: #fff;
}

.delete-btn{
    width: 235px;
}

.total-song{
    font-size: 2rem;
}

.fa-heart{
    display: none;
}

.fa-download{
    display: none;
}

.delete-song{
    margin: 0 -12px;
}

.song__content .form-update{
    display: none;
}

.song__content{
    flex-basis: 50%;
    padding: 0 12px 24px 12px;
}

.song__content.checked{
    flex-basis: 100%;
}

.song__content.checked .song__content-body{
    height: auto;
    padding: 24px;
}

.song__content.checked .form-update{
    display: block;
}

.song__content.checked .form__body{
    height: auto;
    cursor: default;
}

.song__content.checked .form__validator{
    border-radius: 5px;
    margin-top: 18px;
}