/* mobile: s + prefix */
@media (max-width: 743px) {
    img{
        border-radius: 50% !important;
    }

    body{
        height: auto;
    }

    .zing-mp3{
        padding-top: 0 !important;
    }

    #header{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;
        padding: 0 16px;
    }

    .header__container{
        height: auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 2px 5px 5px #0000001f;
        margin: 0;
        padding: 0 20px 24px 20px;
    }

    .now-play{
        order: -1;
        padding-top: 12px;
    }

    .header__img{
        width: 200px;
        height: 200px;
        order: 0;
        margin-bottom: 0;
    }

    .header__img img{
        box-shadow: none;
    }

    .song__img{
        width: 70px;
        height: 70px;
        margin-right: 14px;
    }

    .song-name{
        order: -1;
        padding-bottom: 6px;
    }

    .song-singer{
        padding-top: 6px;
    }

    #content{
        margin-top: 422px;
    }

    .playlist {
        padding-right: 0;
        overflow: initial;
        height: auto;
    }

    .song__content-body{
        height: 140px;
        padding: 0 20px;
    }

    .progess{
        padding: 14px 0 0;
    }

    .song-id{
        margin-right: 12px;
    }

    .control__icon{
        padding: 0 5px;
    }

    .fa-bars{
        right: 7%;
    }
}

@media (max-width: 470px) {
    .playlist {
        padding-right: 0;
        overflow: initial;
        height: auto;
    }
}

/* tablet: m + prefix */
@media (min-width: 744px) and (max-width: 949px) {
    img{
        border-radius: 50% !important;
    }

    body{
        height: auto;
    }

    .zing-mp3{
        padding-top: 0 !important;
    }

    #header{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 999;
        padding: 0 40px;
    }

    .header__container{
        height: auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 2px 5px 5px #0000001f;
        margin: 0;
        padding-bottom: 24px;
    }

    .now-play{
        order: -1;
        padding-top: 12px;
    }

    .header__img{
        width: 250px;
        height: 250px;
        order: 0;
        margin-bottom: 0;
    }

    .header__img img{
        box-shadow: none;
    }

    .song-name{
        order: -1;
        padding-bottom: 6px;
    }

    .song-singer{
        padding-top: 6px;
    }

    #content{
        margin-top: 469px;
    }

    .playlist {
        padding-right: 0;
        overflow: initial;
        height: auto;
    }

    .progess{
        padding: 14px 0 0;
    }

    .control__icon{
        padding: 0 10px;
    }

    .fa-bars{
        right: 9%;
    }
}

/* PC low resoution: l + prefix */
@media (min-width: 949px) and (max-width: 1127px) {
    .header__container{
        padding: 0 20px;
    }

    .control__icon{
        padding: 0 10px;
    }

    .song__content-body{
        height: 130px;
    }
}

@media (min-width: 1128px) {
    body{
        height: 100vh !important;
    }
}